body {
    font-family: 'Borel', cursive;
    font-family: 'Edu SA Beginner', cursive;
    font-family: 'Poppins', sans-serif;
}

.profile-img {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    z-index: 3;
}

.image-div {
    display: flex;
    justify-content: end;
    position: relative;
    
}

.dark-background {
    background-color: rgba(0,0,0,.8);
}

.background-alt {
    background-color: #1d1b1b;
}

.header-background {
    background-color: #3A3934;
    height: 100vh;
  

}



.orange-color {
    color: #FF451B;
    font-size: 1.4rem;
}

.paragraph-color {
    color: #A7AFBD;
}

/* .Text-div  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */





@keyframes slide {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(30px);
    }
    100% {
        transform: translateX(0);
    }
}





.first-animation {
    position: absolute;
    background-color: #FFB324   ;
    height: 7.5rem;
    width: 5rem;
    left: 110px;
    top: 180px;
    animation-name: slide;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    z-index: 4;
}




@keyframes slide-two {
    0% {
        transform: translateX(30px);
    }
    50% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(30px);
    }
}


.second-animation {
    background-color: #FFB324;
    height: 8.5rem;
    width: 5rem;
    position: absolute;
    right: 100px;
    z-index: 1;

    animation-name: slide-two;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    
    
}



.third-animation {
    background-color: #FF451B;
    height: 5rem;
    width: 5rem;
    position: absolute;
    left: 20%;
    z-index: 6;
    transform: rotate(45deg);

    animation-name: slide-three;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;

  
}



@keyframes slide-three {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(45deg);
    }

    100% {
        transform: rotate(0deg);
    }
}
  








@media (max-width: 868px) {
    .profile-img {
        width: 100%;
    }
}








