body {
    font-family: 'Borel', cursive;
    font-family: 'Edu SA Beginner', cursive;
    font-family: 'Poppins', sans-serif;
}

.profile-img {
    height: max-content;
    width: max-content;
    border-radius: 50%;
}


.dark-background {
    background-color: rgba(0,0,0,.8);
}

.background-alt {
    background-color: #1d1b1b;
}

.header-background {
    background-color: #3A3934;
    height: 100vh;

}

.header-text h1{
    color: #fff;
}

.orange-color {
    color: #FF451B;
    font-size: 1.4rem;
}

.paragraph-color {
    color: #A7AFBD;
}

.Text-div  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}









